## Standard ##
.gdb_history
.clang_complete
.externalToolBuilders/*
.cache/*
.DS_Store
~$*
NUL
*.orig
*.dmp
*.beam
_cache.ham
__pycache__
*.py[cod]
*.vcproj.*
*.vcxproj.*
compile_commands.json

## Xcode ##
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata/
.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xccheckout

## Android ##
*/*/android/build
*/*/android/libs
*/*/android/.gradle
*/*/android/local.properties

## Java/JNI interop ##
*/*/java/src/ni/*/_*.list
*/*/java/src/ni/*/I*.java
*/*/java/src/ni/*/E*.java

## Build output ##
/libs/jars/*.jar
/libs/*/*.lib
/libs/*/*.a
/libs/*/*.pdb
/bin/web-js/*_ra.html
/bin/web-js/*_da.html
/bin/web-js/*_ra.js
/bin/web-js/*_da.js
/bin/web-js/*_ra.wasm
/bin/web-js/*_da.wasm
/bin/nt-*/*.exe
/bin/nt-*/*.dll
/bin/nt-*/*.pdb
/bin/adr*/*.so
/bin/adr*/*.apk
/bin/osx-*/*.app/
/bin/osx-*/*.dylib
/bin/osx-*/*.dmg
/bin/osx-*/*_ra
/bin/osx-*/*_da
/bin/lin-*/*.so
/bin/lin-*/*.x64

## ignore the http server
_http_server/
