# Leave my files as-is THANK YOU VERY MUCH
* -text
# * text=auto eol=lf

# *.png binary
# *.fbx binary

*.ni linguist-language=Squirrel
*.niw linguist-language=Squirrel
*.nip linguist-language=Squirrel
