## Standard ##
.gdb_history
.clang_complete
.externalToolBuilders/*
.cache/*
.DS_Store
~$*
NUL
*.orig
*.dmp
*.beam
_cache.ham
__pycache__
*.py[cod]
*.vcproj.*
*.vcxproj.*
compile_commands.json

## Xcode ##
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
xcuserdata/
.xcodeproj/
!*.xcodeproj/project.pbxproj
*.xccheckout
