<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>niAppResourceDir.data</key>
	<string>niLang/data</string>
	<key>niAppResourceDir.scripts</key>
	<string>niLang/scripts</string>
</dict>
</plist>
